<h1 class="mt-4">Alunos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Lista</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-outline-primary" (click)="newAluno()">
        <i class="fa fa-plus"></i> Novo
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td>{{ aluno.id }}</td>
            <td>{{ aluno.name }}</td>
            <td>{{ aluno.email }}</td>
            <td>
              <button
                class="btn btn-success btn-sm"
                routerLink="/disciplinas-lista/{{ aluno.id }}"
              >
                <i class="fa fa-user-graduate"></i> Disciplinas
              </button>

              <button
                class="btn btn-info btn-sm ml-1"
                routerLink="/alunos-form/{{ aluno.id }}"
              >
                <i class="fa fa-edit"></i>
              </button>

              <button
                class="btn btn-danger btn-sm ml-1"
                data-toggle="modal"
                data-target="#deleteModal"
                (click)="prepareToDelete(aluno)"
              >
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>
        <div class="modal-body" *ngIf="selectedAluno">
          Confirma a exclusão do(a) aluno(a) {{ selectedAluno.name }} ({{
            selectedAluno.email
          }}) ?
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-success"
            data-dismiss="modal"
            (click)="deleteAluno()"
          >
            Confirma
          </button>
          <button class="btn btn-default" data-dismiss="modal">Cancela</button>
        </div>
      </div>
    </div>
  </div>
</div>
